/*
 * light blue    - #107fc9
 * dark blue     - #0e4ead
 * darkest blue  - #042960
 */

a {
	color: #107fc9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 a:hover {
	text-decoration: none;
}

body {
	background: #107fc9;

	font-family: 'Capita';
}

h1 {
	color: #107fc9;

	text-align: center;
	font-size: 48pt;
	font-weight: bold;

	margin: 0;
}

.content {
	position: absolute;

	top: 50%;
	left: 50%;

	background: white;

	width: 600px;
	height: 420px;

	/* Oh CSS. */
	margin-left: -341px;
	margin-top: -227px;

	text-align: justify;
	padding: 20px 40px 10px 40px;


	border: 1px solid #107fc9;
	border-radius: 12px;
}

.content p {
	font-size: 14pt;
}

.links {
	color: #107fc9;
	text-align: center;
	font-weight: bold;

	font-size: 16pt;
}

.dot {
	color: #107fc9;
}
